@import url('https://fonts.googleapis.com/css?family=Barrio|Montserrat:700');
/* ------------------------  Elementos  ------------------------ */

body {
  font-family: arial, helvetica, roboto, "new times roman", lato;
  background-image: linear-gradient(to right, #1F2223, #1F2223);
  margin: 0;
  padding: 0;
  height: 100vh;
}

svg {
  position: absolute;
}

/* ------------------------  Id's  ------------------------ */

#base {
  height: 100%;
  width: 100%;
  font-size: small;
  display: flex;
  margin: auto;
}

#data {
  color: rgb(255, 255, 255);
  padding: 30px;
}

#mapa {
  background-color: #DDDDDD;
  align-content: center;
  color: white;
  border-width: 3px;
  border-style: solid;
  border-image:
    linear-gradient(to bottom,
      rgb(0, 13, 128),
      rgba(0, 0, 255, .1)) 1 100%;
}

#pathsString {
  display: none;
}

/* ------------------------  Clases  ------------------------ */

/* Estilos para el boton input */

.button {
  margin: auto;
  padding: 1rem;
  text-transform: uppercase;
  color: #1F2223;
  background-color: #D3D4D5;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(50, 50, 50, .4);
  transition: .3s all ease;
  letter-spacing: .1rem;
  font-size: .85rem;
  position: relative;
  top: 0;
  right: 0;
  padding-left: 2.5rem;
}

.button:after,
.button:before {
  position: absolute;
  font-family: 'Barrio', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  transition: .3s all ease;
}

.button:before {
  content: '_';
  position: absolute;
  left: 1.4rem;
  top: .9rem;
}

.button:after {
  content: '>';
  position: absolute;
  left: .8rem;
  top: 1rem;
}

.button:hover {
  box-shadow: 1px 1px 20px rgba(150, 150, 150, .2);
  top: -.1rem;
  right: -.1rem;
  cursor: pointer;

}

.button:before {
  content: '_';
  position: absolute;
  left: .8rem;
  top: .7rem;
  transform: translateY(-1px);
}

.button:after {
  content: '>';
  position: absolute;
  left: 1.1rem;
  top: 1rem;
}


/* Estilos generales para los aeropuertos y rutas */

.airport {
  fill: rgb(41, 58, 20);
  position: relative;
  opacity: 1;
}

.routes {
  stroke-width: 5;
  opacity: 0.65;
  fill: none;
}

/* Estilos especificos para los aeropuertos y rutas */

.node_origin {
  fill: rgb(0, 26, 255) !important;
}

.node_destiny {
  fill: rgb(11, 179, 165) !important;
}

.djk_routes {
  stroke: rgb(251, 255, 0);
}

.dfs_routes {
  stroke: rgb(255, 0, 0);
}

.prim_routes {
  stroke: rgb(21, 255, 0);


}

/* Estilos para los elementos en el svg */


.graticule {
  fill: none;
  stroke: #232323;
}

.country {
  fill: #0C0E0F;
  stroke: #b5bfcc;
  transition: fill .5s;
}

/* Estilos para la animacion de pasar el mouse por el svg */
.howerPass {

  fill: #6ea9ff;
  stroke: white;
}

.howerOff {
  fill: #0C0E0F;
  stroke: #b5bfcc;
  transition: fill .5s;
}