/* ------------------------  Elementos  ------------------------ */

* {
  font-family: 'Montserrat', monospace;
}

body {
  background: -moz-radial-gradient(ellipse at 50% 50%, rgba(30, 7, 63, 1) 0%, rgba(0, 0, 0, 1) 90%, rgba(15, 6, 23, 1) 100%);

  background: -webkit-radial-gradient(ellipse at 50% 50%, rgba(30, 7, 63, 1) 0%, rgba(0, 0, 0, 1) 90%, rgba(15, 6, 23, 1) 100%);

  background: -o-radial-gradient(ellipse at 50% 50%, rgba(30, 7, 63, 1) 0%, rgba(0, 0, 0, 1) 90%, rgba(15, 6, 23, 1) 100%);

  background: -ms-radial-gradient(ellipse at 50% 50%, rgba(30, 7, 63, 1) 0%, rgba(0, 0, 0, 1) 90%, rgba(15, 6, 23, 1) 100%);

  background: radial-gradient(ellipse at 50% 50%, rgba(30, 7, 63, 1) 0%, rgba(0, 0, 0, 1) 90%, rgba(15, 6, 23, 1) 100%);

  margin: 0;
  padding: 0;
  height: 100vh;
}

svg {
  position: absolute;
}

/* ------------------------  Id's  ------------------------ */

#base {
  height: 100%;
  width: 100%;
  font-size: small;
  display: flex;
  margin: auto;
}

#data {
  color: rgb(255, 255, 255);
  padding: 30px;
}

#mapa {
  /* background-color: #060016; */
  /* background-image: radial-gradient(ellipse farthest-corner at 45px 45px, #12013b 0%, black 50%, #0c002a 95%); */

  align-content: center;
  color: white;
  /* border-width: 3px;
  border-style: solid;
  border-image:
    linear-gradient(to bottom,
      rgb(0, 13, 128),
      rgba(0, 0, 255, .1)) 1 100%; */
}

#origin_legend {
  color: rgb(0, 18, 180);
  align-content: flex-end;
}

#destiny_legend {
  color: rgb(190, 7, 7);
}

#pathsString {
  display: none;
}

#showDjk {
  background-color: rgb(196, 68, 201);
  color: #1F2223;
}

#showDfs {
  background-color: rgb(255, 196, 0);
  color: #1F2223;
}

#showPrim {
  background-color: rgb(135, 245, 71);
  color: #1F2223;
}

#dataAlgorith {
  font-size: medium;
}

/* ------------------------  Clases  ------------------------ */
/* Estilos para los botones */
.buttons {
  margin: auto;
  padding: 1rem;
  color: #1F2223;
  background-color: #D3D4D5;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(50, 50, 50, .4);
  transition: .3s all ease;
  letter-spacing: .1rem;
  font-size: .85rem;
  position: relative;
  top: 0;
  right: 0;
  padding-left: 2.5rem;
}

.buttons:after,
.buttons:before {
  position: absolute;
  font-weight: bold;
  font-size: 1rem;
  transition: .3s all ease;
}

.buttons:before {
  position: absolute;
  left: 1.4rem;
  top: .9rem;
}

.buttons:after {
  position: absolute;
  left: .8rem;
  top: 1rem;
}

.buttons:hover {
  box-shadow: 1px 1px 20px rgba(150, 150, 150, .2);
  top: -.1rem;
  right: -.1rem;
  cursor: pointer;

}



/* Estilos para el boton Volver */

.button {
  margin: auto;
  padding: 1rem;
  text-transform: uppercase;
  color: #1F2223;
  background-color: #D3D4D5;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(50, 50, 50, .4);
  transition: .3s all ease;
  letter-spacing: .1rem;
  font-size: .85rem;
  position: relative;
  top: 0;
  right: 0;
  padding-left: 2.5rem;
}

.button:after,
.button:before {
  position: absolute;
  font-weight: bold;
  font-size: 1rem;
  transition: .3s all ease;
}

.button:before {
  content: '_';
  position: absolute;
  left: 1.4rem;
  top: .9rem;
}

.button:after {
  content: '>';
  position: absolute;
  left: .8rem;
  top: 1rem;
}

.button:hover {
  box-shadow: 1px 1px 20px rgba(150, 150, 150, .2);
  top: -.1rem;
  right: -.1rem;
  cursor: pointer;

}

.button:before {
  content: '_';
  position: absolute;
  left: .8rem;
  top: .7rem;
  transform: translateY(-1px);
}

.button:after {
  content: '>';
  position: absolute;
  left: 1.1rem;
  top: 1rem;
}


/* Estilos generales para los aeropuertos y rutas */

.airport {
  fill: rgb(255, 255, 255);
  position: relative;
  opacity: 0.88;
}

.routes {
  stroke-width: 3.85;
  opacity: 0.85;
  fill: none;
}

/* Estilos especificos para los aeropuertos y rutas */

.node_origin {
  fill: rgb(0, 17, 255) !important;
}

.node_destiny {
  fill: rgb(255, 0, 0) !important;
}

.djk_routes {
  stroke: rgb(196, 68, 201);
}

.dfs_routes {
  stroke: rgb(255, 196, 0);
}

.prim_routes {
  stroke: rgb(135, 245, 71);
}

/* Estilos para los elementos en el svg */


.graticule {
  fill: none;
  stroke: #232323;
}

.country {
  fill: #968c9b;
  stroke: #060a0f;
  transition: fill .5s;
}

/* Estilos para la animacion de pasar el mouse por el svg */
.howerPass {

  fill: #6ea9ff;
  stroke: rgb(109, 107, 107);
}

.howerOff {
  fill: #968c9b;
  stroke: #060a0f;
  transition: fill .5s;
}