body {
  font-family: arial, helvetica, roboto, "new times roman", lato;
  background-image: linear-gradient(to right, #1F2223, #1F2223);
  margin: 0;
  padding: 0;
  height: 100vh;
}

svg {
  position: absolute;
}

#base {
  height: 100%;
  width: 100%;
  font-size: small;
  display: flex;
  margin: auto;
}

#data {
  color: rgb(255, 255, 255);
  padding: 30px;
}

#mapa {
  background-color: #DDDDDD;
  align-content: center;
  color: white;
  border-width: 3px;
  border-style: solid;
  border-image:
    linear-gradient(to bottom,
      rgb(0, 13, 128),
      rgba(0, 0, 255, .1)) 1 100%;
}

#pathsString {
  display: none;
}

/* ------------------------------------------------------------ */
/* Estilos para el boton input */
.button {
  position: block;
  max-width: 100%;
  line-height: 1.3;
  font-weight: 400;
  width: 400px;
  font-size: 16px;
  font-family: 'Verdana', sans-serif;
  background-color: #69035c;
  margin: 20px auto;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, .03);
}

/* ---------------------------------------------------------------- */

.djk_routes {
  stroke-width: 5;
  stroke: rgb(0, 247, 255);
  opacity: 0.65;
  fill: none;
}
.dfs_routes {
  stroke-width: 5;
  stroke: rgb(220, 235, 11);
  opacity: 0.65;
  fill: none;
}
.prim_routes {
  stroke-width: 5;
  stroke: rgb(28, 185, 14);
  opacity: 0.65;
  fill: none;
}
.graticule {
  fill: none;
  stroke: #232323;
}

.airport {
  fill: rgb(211, 0, 0);
  position: relative;
  opacity: 0.75;
}

.aeropuertos {
  fill: white;
  stroke-width: 0.50;
  opacity: 0.65;
}

.country {
  fill: #0C0E0F;
  stroke: #b5bfcc;
  transition: fill .5s;
}

.howerPass {

  fill: #6ea9ff;
  stroke: white;
}

.howerOff {
  fill: #0C0E0F;
  stroke: #b5bfcc;
  transition: fill .5s;
}